.card{
    $size: 150px;
    display: inline-block;
    background-color: $primary-color;
    color: $background-color;
    height: $size;
    font-size: 1.2em;
    @include isolate-grid(4);

    .value, .label {
        text-align: center;
        vertical-align: middle;
    }

    .value {
        position: relative;
        line-height: 3 * $size / 4;
        font-family: 'Oswald', sans-serif;
        font-size: 1.8em;
    }

    .label {
        position: relative;
        height: $size / 4;
        background-color: $footer-color;
        color: $background-color;
        line-height: $size / 4;
    }
}

.card-wrapper {
    @include clearfix;
}
