.footer {

    padding: $base-font-size 0;

    p {
        padding: 0;
        margin: 0;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: $silent-color;
    }
}
